<h1 class="page-header">Welcome to the Hangman Game!</h1>
<h2>You have guessed @Model.TurnCount times...</h2>
<p>@Model.GetSpacedWord()</p>
<h2>Letters guessed</h2>
<p>@Model.LettersGuessed</p>
<form class="form-group" action="/" method="post">
  <p>Guess a Letter!<input type="text" class="form-control"name="letter-guess" id="letter-guess"></p>
  <button type="submit" class="btn btn-success" name="guess-btn">Guess!</button>
</form>
